/*---------------------------- Nav Bar Style ----------------------------*/

.main-nav
{
    background-color: #14213d;
    text-align: center;
    font-size: 25px;
    padding-right: 15px;
    font-family: sans-serif, fallback-font;
    text-decoration: none;
    border: solid 0px white;
    padding: 20px 0 20px 0;
}

.main-nav a
{
    text-decoration: none;
    color: #fca311;
    font-weight: bold;
    padding: 10px;
}


/*---------------------------- titles style ----------------------------*/
h1,h3
{
    color:blue;
}


/*---------------- change the font family Style of all texts----------------*/

body{
    font-family: sans-serif;
    margin: 0;
}

/*---------------------------- add border to product image Style ----------------------------*/

#productimg
{
    border-radius: 25px 25px 0 0;
}

/*---------------------------- add welcome video Style ----------------------------*/

.Wel_Vid
{
    width: 500px;
}

/*---------------------------- Product Style ----------------------------*/

.Pro_Style
{
    background-color: #E9E6F0;
    width: 250px;
    padding-top: 0px;
    border-radius: 25px;
    margin: auto;
    text-align: center;

}

.text_pro_style
{
    padding: 10px;
}


/*---------------------------- Footer Style ----------------------------*/

.footer_icons
{
    background-color: #52796f;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 120px;
}

footer
{
    background-color: #2f3e46;
    padding: 10px;
    text-align: center;
    width: 100%;
    
}

/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/

/*--------------------------------------- Sign up Page ---------------------------------*/

form
{
    width: 400px;
    background-color: #EEEFF1;
    margin: 50px auto;
    border-radius: 10px;
    padding: 50px 20px;
    color: #3C404A;
    border: solid 1px #3c404a1d;
    font-size: 20px;
    font-weight: bold;
}

.intery
{
    width: 98%;
    height: 25px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    font-size: 20px;
}

form a
{
    color: blue;
    text-decoration: none;
}
button
{
    width: 100%;
    height: 35px;
    margin-top: 20px;
    background-color: #5762D5;
    border-radius: 10px;
    font-size: 25px;
    border: none;
    padding: 0;
    font-weight: bold;
    color: white;
    text-align: center;
}
button:hover
{
    background-color: transparent;
    border: solid 1px #3c404a;
    color: #3c404a;
    cursor: pointer;
}
