/*---------------------------- Nav Bar Style ----------------------------*/

.mani-nav
{
    background-color: #99582a;
    text-align: center;
}
a
{
    font-size: 20px;
    color: #ffc300;
    padding-right: 15px;
    font-family: sans-serif, fallback-font;
    text-decoration: none;
}
#selected{
    color: #9d0208;
}


/*---------------------------- titles style ----------------------------*/
h1,h3
{
    color:blue;
}

/*---------------------------- Logo Style ----------------------------*/

#logo
{
    width: 40px;
    height: 40px;
}

/*---------------- change the font family Style of all texts----------------*/

*{
    font-family: sans-serif;
}

/*---------------------------- add border to product image Style ----------------------------*/

#productimg
{
    border: 3px solid #faa307;
    border-radius: 50px;
}