@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
/*---------------- change the font family Style of all texts----------------*/

body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

/*---------------------------- Nav Bar Style ----------------------------*/

header
{
    display: flex;
    background-color: #14213d ;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

}

#logo
{
    height: 40px;
    transition-duration: 0.5s;
}
#logo:hover
{
    transform: scale(1.2);
    opacity: 0.8;
    
    
}

header .main-nav
{
    display: flex;
    column-gap: 20px;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 0;
}


header .main-nav a
{
    text-decoration: none;
    color: #fca311;
    font-weight: bold;
    padding: 10px;
    transition-duration: 0.5s;
    
}

header .main-nav a:hover
{
    color: white;
    transform: scale(1.1);
    
}



/*---------------------------- main content Style ----------------------------*/

.main-content
{
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    width: 900px;
    align-items: center;
    margin-bottom: 50px;
}


.Wel_Vid
{
    width: 40%;
    border-radius: 20px;
}

.main-content-text
{
    width: 50%;
    row-gap: 10px;
    
}

.main-content-text h1 {font-size: 30px; color: black;}
.main-content-text p {font-size: 15px; color: #3C404A; margin-bottom: 35px;}
.button-main
{
    width: 250px;
    border-radius: 15px;
    background-color: #fca311;
    text-decoration: none;
    font-size: 25px;
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    transition-duration: 0.5s;
}

.button-main:hover
{
    background-color: transparent;
    color: #fca311;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    
}
/*---------------------------- add border to product image Style ----------------------------*/

#productimg
{
    border-radius: 25px 25px 0 0;
    width: 200px;
}

/*---------------------------- Product Style ----------------------------*/
.text-product
{
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
    align-items: center;
}
.text-product a{font-size: 12px;}
.text-product a:hover{color: #fca311;}
.Pro_Style
{
    background-color: #E9E6F0;
    width: 200px;
    padding-top: 0px;
    padding-bottom: 10px;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.Pro_Style:hover
{
    transform: scale(1.10);
    opacity: 0.8;
    
}


.text_pro_style
{
    padding: 10px;
}
.text_pro_style a
{
    text-decoration: none;
    border: solid 1px #fca311;
    border-radius: 25px;
    font-size: 20px;
    padding: 5px 10px;
    background-color: #fca311;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.text_pro_style a:hover
{
    background-color: transparent;
    color: #fca311;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.text_pro_style p{color: #14213d;}

.Products
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 900px;
    margin: auto;
}


/*---------------------------- Footer Style ----------------------------*/

footer
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #14213d;
    padding: 10px;
    text-align: center;
    width: full;
    margin: 0 auto;
    height: 200px;
    
}

.footer-icons
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
footer a
{   display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    background-color: #e5e5e5;
    color: #14213d;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
    width: 150px;
    transition-duration: 0.5s;
}

footer a:hover
{
    background-color: #fca311;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.2)

}



/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/

/*--------------------------------------- Sign up Page ---------------------------------*/

form
{
    width: 400px;
    background-color: #EEEFF1;
    margin: 50px auto;
    border-radius: 10px;
    padding: 50px 20px;
    color: #3C404A;
    border: solid 1px #3c404a1d;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.5s;
}


.intery
{
    width: 98%;
    height: 25px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    font-size: 20px;
    padding-left: 10px;
    transition-duration: 0.5s;
    
}

.intery:focus
{
    outline:  solid 1px orange ;
    background-color: #E9E6F0;
    border-radius: 5px;
}

form a
{
    color: blue;
    text-decoration: none;
}
button
{
    width: 100%;
    margin-top: 20px;
    background-color: #5762D5;
    border-radius: 10px;
    font-size: 25px;
    border: none;
    padding: 10px 0;
    font-weight: bold;
    color: white;
}
form button:hover
{
    background-color: transparent;
    border: solid 1px #3c404a;
    color: #3c404a;
    cursor: pointer;
}
